<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI for Stem Cell Research</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="menu">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="/index.html#contacts">Contacts</a></li>
                <li><a href="loginsignup.html" role="button">Login/Signup</a></li>
                <li><a href="dashboard1.html" >Dash1</a></li>
            </ul>
        </div>
        <div class="main-content">
            <h1>Welcome to the Mental Health Tracking Tool</h1>
            <p>This platform is dedicated to assisting doctors and patients in monitoring and managing mental health disorders. Engage with comprehensive surveys, analyze audio samples, and upload EEG data, all while maintaining strict confidentiality and security.</p>
            <div class="upload-section">
                <label for="file-upload" class="custom-file-upload">
                    Upload .JPG file below
                </label>
                <input id="file-upload" type="file" />
            </div>
        </div>
    </div>
</body>
</html>
