<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <title>Mental Health Tracking Tool</title>
</head>
<body>
    <nav class="container-fluid">
        <ul>
            <li><strong>MHT Tool</strong></li>
        </ul>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#contacts">Contacts</a></li>
            <li><a href="loginsignup.html" role="button">Login/Signup</a></li>
        </ul>
    </nav>
    <main class="container">
        <div>
            <section>
                <hgroup>
                    <h2>Welcome to the Mental Health Tracking Tool</h2>
                    <h3>Efficient, Secure, and User-Friendly</h3>
                </hgroup>
                <p>This platform is dedicated to assisting doctors and patients in monitoring and managing mental health disorders. Engage with comprehensive surveys, analyze audio samples, and upload EEG data, all while maintaining strict confidentiality and security.</p>
                <figure>
                    <img src="https://source.unsplash.com/featured/?healthcare" alt="Healthcare" />
                    <figcaption>Empowering healthcare through technology</figcaption>
                </figure>
            </section>
            <hr>
        <div id="contacts">
            <section>
                <hgroup>
                    <h2>Contacts</h2>
                    <h3> </h3>
                </hgroup>
                <p>For related questions, please contact lin25h@ncssm.edu.</p>
            </section>
        </div>
    </div>
    </main>
    <footer class="container">
        <small><a href="#">Privacy Policy</a> • <a href="#">Terms of Service</a></small>
    </footer>
</body>
</html>
