body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

.container {
    display: flex;
    height: 100vh;
}

.menu {
    flex: .70;
    background-color: #f0f0f0;
    padding: 20px;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu ul li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.main-content {
    flex: 3;
    padding: 20px;
}

.upload-section input[type="file"] {
    margin-top: 10px;
}

.custom-file-upload {
    border: 1px dashed #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
.custom-file-upload {
    border: 1px dashed #ccc;
    display: block; 
    padding: 20px; 
    cursor: pointer;
    text-align: center; 
    background-color: #f9f9f9; 
    margin-top: 20px; 
}

.custom-file-upload:hover {
    background-color: #e8e8e8; 
}


input[type="file"] {
    width: 90%; 
    margin: 10px 0; 
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5%; /* Set the height of your footer */
    background-color: #333; /* Background color of footer */
    color: white; /* Text color */
    text-align: center; /* Center the text */
    padding: 5px;
}
.footer .container p {
    text-align: center;
}

