<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Mental Health Tracking Tool</title>
</head>
<body>
    <nav class="container-fluid">
        <ul>
            <li><strong>MHT Tool</strong></li>
        </ul>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#contacts">Contacts</a></li>
            <li><a href="loginsignup.html" role="button">Login/Signup</a></li>
        </ul>
    </nav>

    <section class="hero">
        <div class="hero-content">
            <h2>Welcome to the Mental Health Tracking Tool</h2>
            <h3>Efficient, Secure, and User-Friendly</h3>
            <p>Welcome to our research team's demo test web app! We are at the forefront of exploring...</p>
        </div>
    </section>
    
    <main class="container">
        <div>
            <section>
                <hgroup>
                    <h2>Welcome to the Mental Health Tracking Tool</h2>
                    <h3>Efficient, Secure, and User-Friendly</h3>
                </hgroup>
                <p>Welcome to our research team's demo test web app! We are at the forefront of exploring the exciting possibilities of using Artificial Intelligence (AI) to predict mental health disorders through the use of EEG brainwaves, voice, and questionnaires, and to monitor the progression of these conditions through an LLM chatbot. Our research revolves around leveraging the power of AI and machine learning algorithms, specifically a multi-headed Convolutional Neural Network model, to provide a tool for doctors and patients to use to predict/treat depression.
                    Mental Health is a prevalent issue, especially in a perpetually advancing society today. Often times, treating depression is an unstructured process, as medical outreach is very rare. In hopes of increasing professional medical care for this increasing problem, we present a solution for both patients and hospitals to utilize in the mental-health and depression therapy process. 
                    </p>
                <figure>
                    <!-- <img src="https://source.unsplash.com/featured/?healthcare" alt="Healthcare" />  <img src="../imagine_img4.png" alt="Healthcare" /> <img src="{{ url_for('static', filename='imagine_img4.png') }}" alt="Healthcare"> -->
                    <img src="../static/imagine_img4.png" alt="Healthcare" />
                    

                    <figcaption>Empowering healthcare through technology</figcaption>
                </figure>
                
            </section>
            <hr>
        <div id="contacts">
            <section>
                <hgroup>
                    <h2>Contacts</h2>
                    <h3> </h3>
                </hgroup>
                <p>For related questions, please contact lin25h@ncssm.edu.</p>
            </section>
        </div>
    </div>
    </main>
    <footer class="container">
        <small><a href="#">Privacy Policy</a> • <a href="#">Terms of Service</a></small>
    </footer>
</body>
</html>
